.typography
  font-weight: 400
  line-height: 1.4
  color: var(--global-black)
  font-family: var(--main-font-family)

.typography-h1
  font-size: 36px
  margin-bottom: 24px

.typography-h2
  font-size: 20px
  margin-bottom: 16px
