.typography
  font-weight: 400
  line-height: 1.4em
  color: var(--global-black)
  font-family: var(--main-font-family)

.gray
  color: var(--global-black-60)

.mb-24
  margin-bottom: 1.4rem

.mb-16
  margin-bottom: 1rem

.mb-12
  margin-bottom: 0.75rem

.mb-8
  margin-bottom: 0.5rem

.h1
  font-size: 36px
  margin-bottom: 1.4rem

.h2
  font-size: 20px
  margin-bottom: 1rem

.h3
  font-size: 24px

.h4
  font-size: 24px

.h6
  font-size: 14px
  color: var(--global-black-60)

.subtitle1
  font-size: 14px

.subtitle2
  font-size: 12px
