.header
    background-color: var(--global-black)

.container
    width: 100%
    max-width: 1548px
    padding: 0 24px
    margin: 0 auto
    height: 72px
    display: flex
    align-items: center
.logo
    font-size: 26px
    color: #fff
    font-family: var(--main-font-family)
    font-weight: 700
