body
  margin: 0
  background-color: #fff
  font-family: var(--main-font-family)
  line-height: 1
  font-size: var(--common-font-size)
  color: var(--link-color)
  font-weight: 400

*,
*::before,
*::after
  box-sizing: border-box

h1,h2,h3,h4,h5,h6
  margin: 0

ul,
li,
ol
  padding: 0
  list-style: none
  margin: 0

a
  text-decoration: none
  color: inherit
  transition: all 0.3s ease
  cursor: pointer
  &:hover
    text-decoration: underline
    color: var(--global-red)

.button
  border: none
  background: none
  cursor: pointer
  border-radius: 4px
  box-sizing: border-box
  display: inline-block
  font-family: Roboto,sans-serif
  margin: 0
  outline: none
  padding-left: 16px
  padding-right: 16px
  position: relative
  text-align: center
  transition-duration: .2s
  transition-property: color,background-color,border-color
  transition-timing-function: ease-in-out
