.main_auth
    padding: 16px 24px
    border-bottom: 1px solid var(--global-black-10)
    background-color: var(--global-black-5)
    text-align: center

.auth_title
    margin-bottom: 8px
    font-size: 20px
    color: var(--global-black)

.auth_subtitle
    color: var(--global-black)
    margin-bottom: 12px
    line-height: 14px
    font-size: 12px

.btn_auth
    border: none
    cursor: pointer
    color: #fff
    border-radius: 4px
    margin-bottom: 14px
    padding: 0 16px
    font-size: 15px
    background-color: var(--link-color)
    height: 32px
    display: inline-block
    outline: 0
    position: relative
    text-align: center
    transition: all 0.3s ease
    &:hover
        background-color: #4096e3
