.shop_cart
  padding-top: 100px

.container
  width: 100%
  max-width: 1648px
  padding: 0 24px
  margin: 0 auto

.cart_title
  font-size: 24px
  color: var(--global-black)
  margin-bottom: 24px

.empty_cart_body
  width: 100%
  max-width: 960px
  margin: 0 auto
  padding: 24px
  border: 1px solid #e9e9e9
  border-radius: 4px
  display: flex
  justify-content: center
  align-items: center

.empty_cart
  padding-bottom: 48px
  text-align: center

.empty_cart_img
  margin-bottom: 48px

.empty_cart_img img
  width: 100%
  max-width: 240px

.empty_text
  font-size: 24px
  color: var(--global-black)
  margin-bottom: 16px

.empty_subtext
  font-size: 14px
  color: var(--global-black-40)
