body {
    margin: 0;
    background-color: #fff;
    font-family: var(--main-font-family);
    line-height: 1;
    font-size: var(--common-font-size);
    color: var(--link-color);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

ul,
li,
ol {
    padding: 0;
    list-style: none;
    margin: 0;
}